Source: emerchant-dataxchg
Section: admin
Priority: optional
Maintainer: Jean-Michel Masson <jmmasson@e-merchant.com>
Uploaders: Maxime Guillet <m.guillet@pixmania-group.com>
Build-Depends: debhelper (>= 7.0.50~), python-setuptools, python-support, quilt
Standards-Version: 3.9.4
Homepage: http://www.e-merchant.com/

Package: emerchant-dataxchg
Architecture: all
Depends: python-mysqldb, acl, ${shlibs:Depends}, ${misc:Depends}
Description: data exchange management utils
 Tools used to manage data exchange platform at e-merchant.
